html,body{margin:0;padding:0;background-color:#FFAB52;color:white;height:100%; overflow:hidden}
.shake{
    display:block;
}
.wrapper{
    text-align:center;
    padding:2em 1em 3em;
    width:100%;
    height:100%;
    max-width:1500px;
    margin:0 auto;
    box-sizing:border-box;
}
.S{
    line-height:120%;
}
.IS{
    position:relative;
}

.IS img{
    max-width:80%;
}
