html,body{margin:0;padding:0;background-color:#FFAB52;color:white;height:100%; overflow:hidden}
.shake{
    display:block;
}
.wrapper{
    text-align:center;
    width:100%;
    height:100%;
}
.S, .IS{
    line-height:140%;
    margin: 0 auto;
    display: table;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    max-width:90%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.S img{
    max-width:100%;
    margin:0 auto;
}
